
*{

    box-sizing: border-box;
    margin: 0;
}




#kviz{

    background-color: blue;
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    padding-left: 20px;
}


#naslov{

    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: blue;
    padding: 40px;
}

#nevidljiv
{

    display: none;
}